.q-field__control {
  border-radius: 8px !important;
}
.q-checkbox .q-checkbox__bg {
  border: 1px solid $grey-6;
  border-radius: 4px;
}
.q-checkbox .q-checkbox__svg {
  padding: 3px;
}
.form-field-validation-err.q-field--error .q-field__bottom {
  color: var(--q-custom-form-field-validation-err);
}
.form-field-validation-err .text-negative {
  color: var(--q-custom-form-field-validation-err) !important;
}
