.gap-4 {
  gap: 4px;
}

.gap-8 {
  gap: 8px;
}

.gap-12 {
  gap: 12px;
}

.gap-24 {
  gap: 24px;
}

.gap-32 {
  gap: 32px;
}

// .grow {
//   flex-grow: 1;
// }

// .shrink-0 {
//   flex-shrink: 0;
// }
