name: Run tests

# Run tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    name: Cypress componenets/e2e tests

    concurrency:
      group:
        ${{ github.workflow }}-${{ github.event_name == 'push' && github.head_ref || github.sha }}-${{
        matrix.name }}-${{ matrix.os }}
      cancel-in-progress: true

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node: [18.x]
        os: [ubuntu-latest, windows-latest, macos-latest]
      fail-fast: false
    timeout-minutes: 35

    env:
      timeout: 120
      dev_server_url: 'http://localhost:9000'

    steps:
      - name: Checkout Git code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      - run: node -v

      - name: Run Cypress component test on Mozilla Firefox/OS ${{ matrix.os }}
        uses: cypress-io/github-action@v5
        with:
          start: npx quasar dev
          component: true
          browser: firefox
          wait-on-timeout: $timeout
          wait-on: $dev_server_url

      - name: Run Cypress component test on Google Chrome/OS ${{ matrix.os }}
        uses: cypress-io/github-action@v5
        with:
          install: false
          component: true
          browser: chrome
          wait-on-timeout: $timeout
          wait-on: $dev_server_url

      - name: Run Cypress component test on MS Edge/OS ${{ matrix.os }}
        uses: cypress-io/github-action@v5
        with:
          install: false
          component: true
          browser: edge
          wait-on-timeout: $timeout
          wait-on: $dev_server_url

      - name: Run Cypress e2e test on Mozilla Firefox/OS ${{ matrix.os }}
        uses: cypress-io/github-action@v5
        with:
          install: false
          browser: firefox
          wait-on-timeout: $timeout
          wait-on: $dev_server_url

      - name: Run Cypress e2e test on Google Chrome/OS ${{ matrix.os }}
        uses: cypress-io/github-action@v5
        with:
          install: false
          browser: chrome
          wait-on-timeout: $timeout
          wait-on: $dev_server_url

      - name: Run Cypress e2e test on MS Edge/OS ${{ matrix.os }}
        uses: cypress-io/github-action@v5
        with:
          install: false
          browser: edge
          wait-on-timeout: $timeout
          wait-on: $dev_server_url

      - name: Build app
        run: npx quasar build

      - name: Archive runned cypress tests result
        uses: actions/upload-artifact@v3
        if: ${{ always() }}
        with:
          name: cypress-tests-result
          path: test/*
          retention-days: 3

  push-docker-img:
    if: github.event.pull_request.merged == true || github.event.push.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs: [build-and-test]

    outputs:
      dockerhub_image_version: ${{ steps.set_output.outputs.dockerhub_image_version }}

    steps:
      - name: checkout repo
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Get Docker image version
        run: |
          .github/workflows/get_docker_image_tag_number.sh \
          ${{ secrets.DOCKERHUB_REPO_OWNER }} ${{ secrets.DOCKERHUB_REPO_NAME }}

      - name: Create deployed_app_version.toml file with deployed app Docker image version
        run: |
          echo "version = ${{ env.DOCKERHUB_IMAGE_VERSION }}" > deployed_app_version.toml

      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: ./
          file: ./docker/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_REPO_OWNER }}/${{ secrets.DOCKERHUB_REPO_NAME }}:${{ env.DOCKERHUB_IMAGE_VERSION }}

      - id: set_output
        run: |
          echo "dockerhub_image_version=${{ env.DOCKERHUB_IMAGE_VERSION }}" >> "$GITHUB_OUTPUT"

  deploy-app-to-k8:
    if: github.event.pull_request.merged == true || github.event.push.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs: [push-docker-img]

    steps:
      - name: Checkout k8 repository
        uses: actions/checkout@v3
        with:
          repository: auto-mat/k8s
          token: ${{ secrets.GH_PAT }}
          path: k8s

      - env:
          DOCKERHUB_IMAGE_VERSION: ${{ needs.push-docker-img.outputs.dockerhub_image_version }}

        run: |
          cd ./k8s
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          echo "DOCKERHUB_IMAGE_VERSION: ${DOCKERHUB_IMAGE_VERSION}"
          file ./manifests/ytt/ride-to-work-by-bike-frontend-test.yaml
          sed -i -e "2s/.*/#@ image = \"${{ secrets.DOCKERHUB_REPO_OWNER }}\/${{ secrets.DOCKERHUB_REPO_NAME }}:${DOCKERHUB_IMAGE_VERSION}\"/" ./manifests/ytt/ride-to-work-by-bike-frontend-test.yaml
          git commit -am "manifests/ytt: bump ride-to-work-by-bike-frontend-test app build image to version ${DOCKERHUB_IMAGE_VERSION}"
          git push
